<div class="page-header">
  <%= link_to workouts_path, class: 'btn btn-default' do %>
    All Workouts
  <% end %>
  <%= link_to edit_workout_path(@workout), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show workout</h1>
</div>

<dl class="dl-horizontal">
</dl>
